.vcs-box {
    background-color: white;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    line-height: 1.7rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.vcs-image {
    position: relative;
    display: inline-block;
}

.vcs-image-hover {
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 99;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.vcs-image-hover:hover {
    opacity: 1;
}


.vcs-compare-price {
  text-decoration: line-through;
}

.vcs-image-back {
    width: 100%;
}

.vcs-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
