.vcs-content-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vcs-content-container p {
    margin: 0;
    padding: 0;
}

.vcs-products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.vcs-section-title {
    display: block;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.vcs-card {
    background-color: white;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    margin: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.vcs-image {
    position: relative;
    display: inline-block;
}

.vcs-image-hover {
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 99;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.vcs-image-hover:hover {
    opacity: 1;
}

.vcs-compare-price {
    text-decoration: line-through;
}

.vcs-image-back {
    width: 100%;
}

.vcs-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.vcs-selection-wrapper {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.vcs-selection-label {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 110px;
    text-shadow: none;
    color: black;
    font-size: 14px;
}

.vcs-selection-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0 !important;
    display: inline-block;
    outline: 0;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: 0 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    min-height: 24px;
    margin: 0;
    padding: 0 22px 0 6px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-family: inherit !important;
}

.vcs-selection-box {
    position: relative;
    padding-right: 6px;
    width: 100%;
}

.vcs-selection-box::after,
.vcs-selection-box::before {
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
    pointer-events: none;
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    border-bottom: 6px solid #333;
    top: 47%;
}

.vcs-selection-box::after {
    transform: rotate(135deg);
    right: 20px;
}

.vcs-selection-box::before {
    transform: rotate(45deg);
    right: 16px;
}

.vcs-selection-box:hover::after {
    color: #43c3be;
}

.vcs-button {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 8px auto 0px auto;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid rgb(83, 83, 83);
    box-shadow: none;
    padding: 4px 9px;
    background: #93C5FD;
    font-weight: 700;
    text-shadow: 1px 1px 0 #4B5563;
}

.vcs-button-diabled {
    opacity: .6;
    cursor: not-allowed;
}
